#user {
  border: 2px solid #050427;
}

#shareUrl {
  font-family: "Montserrat", sans-serif;
  display: block;
  position: relative;
  color: #ce4c35;
  text-align: center;
}

body {
  position: relative;
  background: #1e2333;
}
#buttonContainer {
  display: block;
  position: relative;
  text-align: center;
}
#speakStatus{
  color: #ce4c35;
}
#videos {
  position: relative;
  column-count: 2;
  text-align: center;
  padding-bottom: 30px;
}
