#user {
    border: 2px solid #050427;
}

#shareUrl {
	font-family: 'Montserrat', sans-serif;
    display: block;
    position: relative;
    color: #ce4c35;
    text-align: center;
}

body {
    position: relative;
    background: #1E2333;
    display: grid;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#videos {
    position: absolute;
    margin: 2%;
    height: 80%;
}